@model List<Contents>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to E-LEARNING</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="d-flex justify-content-center">
    @foreach(var item in Model)
    {
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Lesson?.Courses?.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Lesson?.Description</h6>
                <p class="card-text"> @item.Description</p>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.ContentId" class="card-btn btn btn-success">Read more</a>
            </div>
        </div>
    }
 
</div>

