@model List<Courses>
@{
    ViewData["Title"] = "Home";
}

<!-- Course Menu -->
<div class="course-menu text-center" id="courseMenu">
    @foreach (var item in Model)
    {
        <a asp-action="Lesson" asp-controller="Home" asp-route-id="@item.CourseId" onclick="setActive(this, event)">
            @item.Title
        </a>
    }
</div>