@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-4">
            <div class="card border-1">
                <div class="card-body p-4 p-sm-5">

                    <h2 class="card-title text-center mb-2 fw-bold">Create Account</h2>
                    <p class="text-center text-muted mb-4">
                        Sign up to get started
                    </p>

                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                        <div class="mb-3">
                            <label asp-for="Input.FirstName"></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light border-end-0">
                                    <i class="fas fa-user text-muted"></i>
                                </span>
                                <input asp-for="Input.FirstName" class="form-control" 
                                   autocomplete="username" aria-required="true"
                                   placeholder="Enter your firstname"
                                   maxlength="20" 
                                   oninput="this.value = this.value.replace(/[^A-Za-z\s]/g, '').replace(/\s{2,}/g, ' ').trimStart()" />

                            </div>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.MiddleName"></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light border-end-0">
                                    <i class="fas fa-user text-muted"></i>
                                </span>
                                <input asp-for="Input.MiddleName"
                                    class="form-control" aria-required="true" 
                                    placeholder="Enter your Middlename" maxlength="20"
                                     oninput="this.value = this.value.replace(/[^A-Za-z\s]/g, '').replace(/\s{2,}/g, ' ').trimStart()" />

                            </div>
                            <span asp-validation-for="Input.MiddleName" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.LastName"></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light border-end-0">
                                    <i class="fas fa-user text-muted"></i>
                                </span>
                                <input asp-for="Input.LastName" 
                                class="form-control" aria-required="true"
                                       placeholder="Enter your lastname" maxlength="20" oninput="this.value = this.value.replace(/[^A-Za-z\s]/g, '').replace(/\s{2,}/g, ' ').trimStart()" />

                            </div>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>

                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label asp-for="Input.Email">Email</label>
                            <div class="input-group">
                                <span class="input-group-text bg-light border-end-0">
                                    <i class="fas fa-user text-muted"></i>
                                </span>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" maxlength="45" />

                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                        </div>

                     
                        <!-- Password -->
                        <div class="mb-3">
                            <label asp-for="Input.Password"></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light border-end-0">
                                    <i class="fas fa-user text-muted"></i>
                                </span>
                                <input asp-for="Input.Password" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your password" maxlength="20"/>

                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                        </div>

                        <!-- Confirm Password -->
                        <div class="mb-3">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light border-end-0">
                                    <i class="fas fa-user text-muted"></i>
                                </span>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="username" aria-required="true" placeholder="Confirm your password" maxlength="20"/>

                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                        </div>

                        <!-- Submit -->
                        <button type="submit"
                                class="btn w-100 py-2 mb-3"
                                style="background-color: #282A35; color: white;">
                            Sign Up
                        </button>

                        <!-- Footer -->
                        <div class="text-center">
                            <span class="text-muted small">Already have an account?</span>
                            <a asp-controller="Home"
                               asp-action="Login"
                               class="text-decoration-none small fw-semibold ms-1">
                                Login
                            </a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
