@model Courses


<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow-sm w-50 p-2 border-">
        <form asp-action="Upsert" method="post">
            <div asp-validation-summary="All" class="alert-danger"></div>
            <input asp-for="CourseId" hidden />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Title" class="form-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>

                        </div>

                    </div>

                   

                </div>

                @if (Model?.CourseId != null)
                {
                    <button type="submit" class="btn btn-primary mt-3 w-100">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success mt-3 w-100">Create</button>
                }
            </div>
        </form>
    </div>


</div>

