@model Courses

<form asp-action="Upsert" method="post">
    <input asp-for="CourseId" hidden/>
    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>

    @if (Model?.CourseId != null)
    {
        <button type="submit">Update</button>

    }
    else
    {
        <button type="submit">Create</button>

    }

</form>
